<!--  ***********************  交易成功页  success  ************************** -->

<section id="success" class="section">
    <header class="success_header header">
        <div id="success_return" class="return" onclick="successReturn()">
            <img src="images/return.png" alt=""/>
        </div>
    </header>
    <section class="success_logo">
        <img src="images/success_logo.png" alt=""/>
    </section>
    <section class="order_num pad">
        <span class="left">订单编号</span>
        <span id="orders_num" class="right">16033025697135</span>
    </section>
    <section class="line"></section>
    <section class="order_form pad">
        <div class="over">
            <span id="buyer_name" class="left">吕玲玲(2656*****464)</span>
            <span id="buyer_tell" class="right">138****123</span>
        </div>
        <div id="buyer_address">
            [公司]北京市.北京市.海淀区.西三环北路25号 青政大厦 9 层
        </div>
    </section>
    <section class="line"></section>
    <footer class="success_footer">
        <button class="success_sub btn"></button>
    </footer>
</section>