<!--  ***********************  商品详情页  detail  *************************** -->

<section id="detail" class="section">
    <header class="header detail_header">
    </header>
    <section class="detail_goods">
        <img id="detail_goods_img" src="images/detail_goods.png" alt=""/>
    </section>
    <section class="detail_goods_infor pad">
        <div class="detail_goods_i_top">
            <span id="now_price" class="now_price">￥0.00</span>
            <span id="past_price" class="past_price">￥165</span>
        </div>
        <div id="detail_goods_i_middle" class="detail_goods_i_middle">
            【可莱丝】茶树油维护精华面膜（10片）
        </div>
        <div class="detail_goods_i_bottom">
            本品每个身份证ID限购一份
        </div>
    </section>
    <section class="line"></section>
    <section class="detail_goods_Logistical pad">
        <ul>
            <li>
                <span class="Logistical_title">快递</span>
                <span id="Logistical_price" class="Logistical_content">快递费 100.0元</span>
            </li>
            <li>
                <span class="Logistical_title">发货地</span>
                <span id="Logistical_seller" class="Logistical_content">由橙生活卖</span>
            </li>
            <li>
                <span class="Logistical_title">退货</span>
                <span id="Logistical_return" class="Logistical_return">本产品暂不支持退货</span>
            </li>
        </ul>
    </section>
    <section class="line"></section>
    <footer>
        <button id="buy_sub" class="buy_submit btn" onclick="detailBtn()"></button>
    </footer>
</section>